@import 'ngx-toastr/toastr';


* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    font: 17px/1.2 Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}