<div class="container">
    <div class="heading">
        <h1>ADD NEW OFFER</h1>
        <div class="divider"></div>
    </div>

    <form>
        <div class="input-row">
            <label for="car-image">Снимка на автомобила</label>
            <input type="text" name="car-image" id="car-image" placeholder="Paste image address...">
            <!-- ERRORS -->
            <!-- <div class="errors">
                <p>Image is required</p>
            </div> -->
        </div>
        <div class="input-row">
            <label for="created-date">Дата на производство</label>
            <input type="date" name="created-date" id="created-date">
            <!-- ERRORS -->
            <!-- <div class="errors">
                <p>Date is required</p>
                <p>Date should be between 1980 and 2023</p>
            </div> -->
        </div>
        <div class="input-row">
            <label for="brand">Марка</label>
            <input type="text" name="brand" id="brand" placeholder="Mercedes, Seat, VW">
            <!-- ERRORS -->
            <!-- <div class="errors">
                <p>Brand is required</p>
            </div> -->
        </div>
        <div class="input-row">
            <label for="model">Модел</label>
            <input type="text" name="model" id="model" placeholder="Е55, Leon, Golf">
            <!-- ERRORS -->
            <!-- <div class="errors">
                <p>Model is required</p>
            </div> -->
        </div>
        <div class="input-row">
            <label for="engine">Двигател</label>
            <input type="text" name="engine" id="engine" placeholder="1.9TDI, 3.0i">
            <!-- ERRORS -->
            <!-- <div class="errors">
                <p>Engine is required</p>
            </div> -->
        </div>
        <div class="input-row">
            <label for="price">Цена(лв)</label>
            <input type="number" name="price" id="price">
            <!-- ERRORS -->
            <!-- <div class="errors">
                <p>Price is required</p>
                <p>Price should be more than 0</p>
            </div> -->
        </div>
        <div class="input-row">
            <label for="horsepower">Мощност</label>
            <input type="number" name="horsepower" id="horsepower" placeholder="Мощност в к.с.">
            <!-- ERRORS -->
            <!-- <div class="errors">
                <p>Horsepower is required</p>
                <p>Horsepower should be more than 0</p>
                <p>Horsepower should be max 4 numbers</p>
            </div> -->
        </div>
        <div class="input-row">
            <label for="mileage">Пробег</label>
            <input type="number" name="mileage" id="mileage" placeholder="Пробег в км.">
            <!-- ERRORS -->
            <!-- <div class="errors">
                <p>Mileage is required</p>
                <p>Mileage should be more than 0</p>
            </div> -->
        </div>
        <div class="input-row">
            <label for="location">Местоположение</label>
            <input type="text" name="location" id="location" placeholder="София, Варна">
            <!-- ERRORS -->
            <!-- <div class="errors">
                <p>Location is required</p>
                <p>Location should be more than 2 characters</p>
            </div> -->
        </div>
        <div class="input-row">
            <label for="color">Цвят</label>
            <input type="text" name="color" id="color">
            <!-- ERRORS -->
            <!-- <div class="errors">
                <p>Color is required</p>
                <p>Color should be text</p>
            </div> -->
        </div>
        <div class="input-row">
            <label for="phone">Номер за връзка</label>
            <input type="number" name="phone" id="phone" placeholder="">
            <!-- ERRORS -->
            <!-- <div class="errors">
                <p>Phone is required</p>
                <p>Phone should be 10 characters</p>
                <p>Phone should start with 088 / 089 </p>
            </div> -->
        </div>
        <div class="all-selects">
            <div class="input-row">
                <label for="fuel-type">Вид гориво</label>
                <select name="fuel-types" id="fuel-types">
                    <option selected disabled></option>
                    <option value="Diesel">Дизел</option>
                    <option value="Petrol">Бензин</option>
                    <option value="Gas/Petrol">Газ/Бензин</option>
                    <option value="Hybrid">Хибрид</option>
                </select>
            </div>

            <div class="input-row">
                <label for="gearbox">Скоростна кутия</label>
                <select name="gearbox-types" id="gearbox-types">
                    <option selected disabled></option>
                    <option value="Manual">Ръчна</option>
                    <option value="Automatic">Автоматична</option>
                </select>
            </div>
            <div class="input-row">
                <label for="category">Категория</label>
                <select name="category-types" id="category-types">
                    <option selected disabled></option>
                    <option value="Sedan">Седан</option>
                    <option value="Hatchback">Хечбек</option>
                    <option value="Coupe">Купе</option>
                    <option value="Kombi">Комби</option>
                    <option value="SUV">Джип</option>
                </select>
            </div>

            <div class="input-row">
                <label for="doors">Брой врати</label>
                <select name="doors-types" id="doors-types">
                    <option selected disabled></option>
                    <option value="2/3">2/3</option>
                    <option value="4/5">4/5</option>
                </select>
            </div>
        </div>
        <!-- ERRORS -->
        <!-- <div class="select-errors">
            <p>All fields are required</p>
        </div> -->
    </form>

    <div class="description">
        <h2>Description</h2>
        <textarea name="description-area" id="description-area" cols="50" rows="15"></textarea>
    </div>

    <button type="submit" class="create-btn">Create</button>
</div>