header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.10)
}

header ul {
    list-style: none;
}

nav {
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
}

nav ul li a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font: 18px;
    position: relative;
    letter-spacing: 0.5px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    background-color: #262626;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav ul li a:hover:after {
    width: 100%;
}

.guest-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.guest-links ul li a {
    text-decoration: none;
}

.guest-links .login-btn {
    background-color: #262626;
    padding: 0.8em 2em;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
    color: #fff;
}

.guest-links .login-btn:hover {
    color: #262626;
    border: 1px solid #262626;
    background-color: transparent;
    font-weight: bold;
}

.guest-links .register-btn {
    border: 1px solid #262626;
    padding: 0.8em 2em;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
    color: #262626;
}

.guest-links .register-btn:hover {
    background-color: #262626;
    color: #fff;
    font-weight: bold;
}

.user-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.user-links ul li i {
    color: #000;
    font-size: 25px;
    padding: 10px;
    transition: 0.3s;
    border-radius: 50%;
}

.user-links ul li i:hover {
    background-color: lightgray;
    color: #fff;
}

header .logo img {
    width: 130px;
}

@media (width < 600px) {
    header {
        margin-bottom: 1em;
        flex-direction: column;
        gap: 1em;
    }

    header .logo {
        align-self: center;
    }

    nav {
        background-color: #262626;
        width: 250px;
        padding: 1em;
        border-radius: 10px;
        color: #fff;

    }

    nav ul li {
        border-bottom: 1px solid #fff;
        padding: 5px 0;
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        color: #fff;
    }

    nav ul {
        flex-direction: column;
        gap: 1em;
    }

    .guest-links {
        margin: 10px 0;
    }
}