<div class="container">
    <div class="left-section">
        <div class="user-avatar">
            <img src="https://img.freepik.com/free-icon/man_318-487775.jpg?w=2000" alt="">
            <h1 class="username">SASHKO34</h1>
            <div class="user-offers-details">
                <p>User Offers: 3</p>
                <p>Favourite Offers: 2</p>
            </div>
        </div>
        <div class="user-info">
            <div class="social-media">
                <div class="github">
                    <p><i class="fa-brands fa-github"></i>Github</p>
                    <p>sashko34</p>
                </div>
                <div class="instagram">
                    <p><i class="fa-brands fa-instagram"></i>Instagram</p>
                    <p>sashko34</p>
                </div>
                <div class="twitter">
                    <p><i class="fa-brands fa-twitter"></i>Twitter</p>
                    <p>sashko34</p>
                </div>
                <button class="edit-btn">EDIT</button>
            </div>
        </div>
    </div>
    <div class="right-section">
        <div class="user-details">
            <div class="fullName">
                <h3>Full Name</h3>
                <p>Kenneth Valdez</p>
            </div>
            <div class="email">
                <h3>Email</h3>
                <p>sashko34@gmail.com</p>
            </div>
            <div class="phone">
                <h3>Phone</h3>
                <p>0893679809</p>
            </div>
            <div class="address">
                <h3>Address</h3>
                <p>ул. Славянска 34</p>
            </div>
            <button class="edit-btn">EDIT</button>
        </div>
        <div class="user-offers">
            <h1>User offers</h1>
            <div class="offers-container">
                <div class="offer">
                    <a href="#">
                        <div class="media">
                            <img src="https://images.classic.com/vehicles/167cfb5c78d80e1ae3d9ec2bf65c95684edcd454.jpg?auto=format&fit=crop&w=600&h=384"
                                alt="">
                            <div class="card-primary">
                                <h6 class="card-price">8,999 лв.</h6>
                            </div>
                        </div>
                        <div class="card-heading">
                            <h5>Mercedes CLS 63 AMG</h5>
                        </div>
                        <div class="divider"></div>
                        <div class="typography">2005, Дизел, 189000 км.</div>
                    </a>
                    <div class="card-footer">
                        <p>частно лице, София</p>
                    </div>
                </div>
                <div class="offer">
                    <a href="#">
                        <div class="media">
                            <img src="https://images.classic.com/vehicles/167cfb5c78d80e1ae3d9ec2bf65c95684edcd454.jpg?auto=format&fit=crop&w=600&h=384"
                                alt="">
                            <div class="card-primary">
                                <h6 class="card-price">8,999 лв.</h6>
                            </div>
                        </div>
                        <div class="card-heading">
                            <h5>Mercedes CLS 63 AMG</h5>
                        </div>
                        <div class="divider"></div>
                        <div class="typography">2005, Дизел, 189000 км.</div>
                    </a>
                    <div class="card-footer">
                        <p>частно лице, София</p>
                    </div>
                </div>
                <div class="offer">
                    <a href="#">
                        <div class="media">
                            <img src="https://images.classic.com/vehicles/167cfb5c78d80e1ae3d9ec2bf65c95684edcd454.jpg?auto=format&fit=crop&w=600&h=384"
                                alt="">
                            <div class="card-primary">
                                <h6 class="card-price">8,999 лв.</h6>
                            </div>
                        </div>
                        <div class="card-heading">
                            <h5>Mercedes CLS 63 AMG</h5>
                        </div>
                        <div class="divider"></div>
                        <div class="typography">2005, Дизел, 189000 км.</div>
                    </a>
                    <div class="card-footer">
                        <p>частно лице, София</p>
                    </div>
                </div>
                <div class="offer">
                    <a href="#">
                        <div class="media">
                            <img src="https://images.classic.com/vehicles/167cfb5c78d80e1ae3d9ec2bf65c95684edcd454.jpg?auto=format&fit=crop&w=600&h=384"
                                alt="">
                            <div class="card-primary">
                                <h6 class="card-price">8,999 лв.</h6>
                            </div>
                        </div>
                        <div class="card-heading">
                            <h5>Mercedes CLS 63 AMG</h5>
                        </div>
                        <div class="divider"></div>
                        <div class="typography">2005, Дизел, 189000 км.</div>
                    </a>
                    <div class="card-footer">
                        <p>частно лице, София</p>
                    </div>
                </div>
                <div class="offer">
                    <a href="#">
                        <div class="media">
                            <img src="https://images.classic.com/vehicles/167cfb5c78d80e1ae3d9ec2bf65c95684edcd454.jpg?auto=format&fit=crop&w=600&h=384"
                                alt="">
                            <div class="card-primary">
                                <h6 class="card-price">8,999 лв.</h6>
                            </div>
                        </div>
                        <div class="card-heading">
                            <h5>Mercedes CLS 63 AMG</h5>
                        </div>
                        <div class="divider"></div>
                        <div class="typography">2005, Дизел, 189000 км.</div>
                    </a>
                    <div class="card-footer">
                        <p>частно лице, София</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>