.container {
    margin-top: 2em;
}

.bg-img {
    background-image:
        linear-gradient(180deg, rgba(0, 0, 0, 0.8799894957983193) 0%, rgba(145, 108, 27, 0) 49%, rgba(0, 0, 0, 0.8855917366946778) 100%),
        url("https://hips.hearstapps.com/hmg-prod/images/img-1-1586350400.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 100%;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}


.bg-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 7em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.container .bg-text h1 {
    color: #000;
    font-size: 55px;
    max-width: 30em;
    text-align: center;
    font-weight: bold;
}

.bg-text p {
    color: #fff;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
}

.home-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
}

.btn {
    cursor: pointer;
    outline: none;
    padding: 0.8em 2em;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
}

.home-buttons .catalog-btn {
    border: none;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    transition: 0.3s;
}

.home-buttons .catalog-btn:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.1);
    border: none;
}

.home-buttons .about-btn {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.4s;
}

.home-buttons .about-btn:hover {
    transform: scale(1.1);
    border: none;
    background-color: #262626;
}

.info-section {
    margin: 3em 0 10em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-section h2 {
    text-transform: uppercase;
    font-size: 40px;
    padding: 1em 0;
}

.info-section h2::after {
    display: block;
    content: "";
    width: 5em;
    margin: 1em auto;
    height: 3px;
    background-color: #262626;
}

.info-section .info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10em;
}

.info-container .card {
    text-align: center;
}

.info-container .card p {
    max-width: 40em;
}

.info-container .card .hands-img {
    display: block;
    height: 100%;
    width: 150px;
    margin: 0 auto;
}

.info-container .card .car-img {
    display: block;
    height: 100%;
    width: 150px;
    margin: 0 auto;
}