/* SEARCH BAR */

.search-bar {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 2em auto;
    border-radius: 30px;
    padding: 1em;
    background-color: #fff;
    width: 500px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
}

.search-bar i {
    font-size: 20px;
}

.search-bar input {
    width: 100%;
    border: none;
    padding-left: 20px;
    outline: none;
    font-size: 18px;
}

/* CATALOG */
.cards-container {
    display: grid;
    margin: 0 2em 0 0;
    gap: 10px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.card a {
    text-decoration: none;
    color: #000;
}

.card {
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 450px;
    transition: 0.3s;
    margin: 0 1.5em 2em 1.5em;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
}

.card-primary .card-price {
    position: absolute;
    bottom: -10px;
    right: 25px;
    font-size: 25px;
    border: 2px solid #262626;
    border-radius: 10px;
    padding: 5px;
    line-height: 1.5rem;
    background-color: #fff;
}

.card-heading {
    padding: 1.5rem 1rem 0 1rem;
}

.card .card-heading h5 {
    font-size: 23px;
    font-weight: normal;
}

.card .media {
    position: relative;
}

.card .media img {
    width: 350px;
}

.divider {
    border-top: 1px solid #000;
    opacity: .12;
    margin: 0.5rem 1rem;
}

.typography {
    padding: 15px 0 10px 1rem;
    /* text-align: center; */

}

.card-info {
    padding: 0 1rem 0;
    margin: auto;
}

.card-footer {
    padding: 10px 1rem 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
}